/*sidebar-container*/
/*content-area-container*/

/*body-container*/

.body-container {
  display: grid;

  grid-template-columns: 1fr 3fr;
  align-items: start;
  justify-items: start;
}

.sidebar-container {

}

.outlet-container {

}
